SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DATABASE_URL=sqlite:///./superior_group.db
ADMIN_EMAIL=admin@superiorgroup.com.co
ADMIN_PASSWORD=Admin2025*
ADMIN_NOMBRE=Administrador
