# Python
__pycache__/
*.py[cod]
*.pyc
*.so
*.egg-info/
.pytest_cache/

# Virtualenv
venv/
env/
.venv/

# Environment
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
